*{
    margin: 0;
}
body{
    background-color: green;
    display: grid;
    height: 100vh;
    place-items: center;
    overflow: hidden;
}
#road{
    background-image: url(straight-road-marking-vector-44968473.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    height: 1000vh;
    width: 31.5vw;
    position: relative;
    top: -100vh;
    z-index: -1;
}
#start{
    position: absolute;
    top: 50vh;
    font-size: 2.5rem;
    background-color: rgb(91, 151, 91);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.score{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 2rem;
}
#score{
    top: 50px;
}
#obstacle1{
    display: grid;
    place-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    left:-150px;
    z-index: 100;
    animation: obs1 infinite linear 1.9s;
}
#obstacle2{
    display: grid;
    place-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    left: 0px;
    z-index: 100;
    animation: obs2 infinite linear 2.2s;
}
#obstacle3{
    display: grid;
    place-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    left: 148px;
    z-index: 100;
    animation: obs3 infinite linear 2.5s;
}
.obsImg{
    width: 50px;
    border: 2px solid rebeccapurple;
}
#myCarImg{
    width: 50px;
    border: 2px solid rebeccapurple;
}
#myCar{
    width: 100px;
    height: 100px;
    position: relative;
    top: 30vh;
    left: 23px;
}
@keyframes obs1{
    0%{
        top: -35vh;
    }
    100%{
        top: 100vh;
    }
}
@keyframes obs2{
    0%{
        top: -55vh;
    }
    100%{
        top: 100vh;
    }
}
@keyframes obs3{
    0%{
        top: -85vh;
    }
    100%{
        top: 100vh;
    }
}
@keyframes roadAnimation {
    0% {
        top: -900vh;
    }
    100% {
        top: -200vh;
    }
}
#obstacle1,#obstacle2,#obstacle3{
    animation: none;
}